{% extends 'base.html.twig' %}

{% block title %}About Us
{% endblock %}

{% block body %}

	<section>
		<div>

			<img src="{{ asset('uploads/Capture d’écran (90).png') }}" class="img-fluid" alt="...">
		</div>

	</section>

	<div
		class="container2">
		{# <div class="title text-center">
		                <h2 class="text-uppercase my-5 p-2">UNIQUE and CUTICULAR</h2>
		            </div> #}
		<div class="card mb-3">
			<div class="row g-0">
				<div class="col-md-8">
					<div class="card-body">
						<h2 class="card-titlt p-2 text-center ">ABOUT US</h2>
						<h4>OUR STORY</h4>
						<p class="card-text">We are a France-based specialist and supplier of luxury human hair extensions, hair care products and accessories. Our extensive range includes premium quality weft hair extensions, frontals, closures, lace wigs, ponytails, clips ins, cruelty-free mink lashes and much more!</p>

						<p>
							With years of industry experience, we pride ourselves in our expertise,  product innovation, product quality and a passion for what we do.
						</p>
						<p>Customer satisfaction is core to our brand and we are continuously working to ensure 100% customer satisfaction..but don’t take our word for it, read a few of our customer reviews below!</p>
						<p>
							<b>“ Specialising in exceptional quality at affordable prices”</b>
						</p>
					</div>
				</div>

				<div class="col-md-4 align-items-center d-flex ">
					<img class="img-fluid rounded-start align-self-center img-hover" src="{{ asset('uploads/IMG_5369.jpg')}}">
				</div>
			</div>

		</div>
	</div>

	<section class="second_section container flex text-center">
		<div class="left">
           <h1 class="text-center">Why Choose Us</h1>

			<section class="graphics">
				<div class="mine">
                    <div><i class="bi bi-headset"></i></div>
					<h3>CUSTOMER SUPPORT</h3>
                    <p>You Won't Be Alone</p>			
					<p>We really care about you and your experience as much as you do. Purchasing hair extensions awards you with dedicated customer care and support.</p>
				</div>
				<div class="mine">
                  <div><i class="bi bi-credit-card"></i></div>
					<h3>SAFE & SECURE PAYMENTS</h3>
                    <p>PlayPal, Klarna & More</p>
					<p>We use trusted payment gateways on our website to ensure safe and secure payments for our customers. Plus with flexible payment options, what's not to like?</p>
				</div>
				<div class="mine">
                    <div><i class="bi bi-check-circle"></i></div>
					<h3>CUSTOMISED ORDERS</h3>
                    <p>Customised Orders just Got Easier!​</p>
					<p>From custom colouring, order upgrades, wig cap size alterations and more, we've got you covered! Simply drop us an email with your custom order details prior to placing an order and we'll take care of the rest!</p>
				</div>

			</section>
		</div>
	</section>


{% endblock %}
