{% extends 'base.html.twig' %}

{% block title %}Condition General{% endblock %}

{% block body %}

<div class="row">
        <div class="col-10 mx-auto p-3">
   
   <h1 class="text-center mb-3">Condition General</h1>

   <h4>General terms and conditions</h4>
    <p>Welcome to Ama's Beauty !</p>
    <p>These terms and conditions describe the rules and regulations governing the use of the Ama's Beauty website, located at https://www.amasbeauty.website/.</p>
    <p>By accessing this website, we assume that you agree to these terms and conditions. Do not continue to use Ama's Beauty if you do not agree to accept all of the terms and conditions stated on this page.</p>
    <h4>Cookies :</h4>
    <p>The website uses cookies to help personalize your online experience. By accessing Ama's Beauty, you have agreed to use the required cookies.</p>
    <p>A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or transmit viruses to your computer. Cookies are uniquely assigned to you and can only be read by a web server in the domain that issued the cookie to you.</p>
    <p>We may use cookies to collect, store and track information for statistical or marketing purposes in order to operate our website. You have the option of accepting or rejecting optional Cookies. There are some mandatory Cookies that are necessary for the operation of our website. These cookies do not require your consent, as they always work. Please remember that by accepting mandatory Cookies, you are also accepting third-party Cookies, which may be used via services provided by third parties if you use these services on our website, for example, a video display window provided by third parties and integrated into our website.</p>
    <h4>Licence :</h4>
    <p>Unless otherwise indicated, Ama's Beauty and/or its licensors own the intellectual property rights to all material on Ama's Beauty. All intellectual property rights are reserved. You may access them from Ama's Beauty for your personal use, subject to the restrictions set forth in these terms and conditions.</p>
    <p>You must not :</p>
    <ul>
      <li>Copy or republish material from Ama's Beauty.</li>
      <li>Sell, rent or sublicense material from Ama's Beauty.</li>
      <li>Reproduce, duplicate or copy material from Ama's Beauty.</li>
      <li>Redistribute Ama's Beauty content</li>
    </ul>
    <P>This agreement takes effect on the date hereof.</P>
    <P>Some parts of this website offer users the opportunity to post and exchange opinions and information in certain areas of the website. Ama's Beauty does not screen, edit, publish or review comments before they appear on the website. The Comments do not reflect the views or opinions of Ama's Beauty, its agents and/or affiliates. Comments reflect the views and opinions of the person posting them. To the extent permitted by applicable law, Ama's Beauty shall not be liable for the Comments or for any liability, damages or expenses caused and/or incurred as a result of the use and/or posting and/or appearance of the Comments on this website.</P>
    <P>Ama's Beauty reserves the right to monitor all comments and to delete any comments that may be considered inappropriate, offensive, or in violation of these terms and conditions.</P>

    <P>You warrant and represent that :</P>
    <ul>
      <li>You have the right to publish comments on our website and have all necessary licenses and consents to do so;</li>
      <li>Les commentaires n'envahissent aucun droit de propriété intellectuelle, y compris, sans limitation, le droit d'auteur, le brevet ou la marque de commerce d'un tiers ;</li>
      <li>Les Commentaires ne contiennent aucun élément diffamatoire, calomnieux, offensant, indécent ou autrement illégal, constituant une atteinte à la vie privée.</li>
      <li>Les Commentaires ne seront pas utilisés pour solliciter ou promouvoir des affaires ou des coutumes ou présenter des activités commerciales ou des activités illégales.</li>
    </ul>

    <P>Par la présente, vous accordez à Ama's Beauty une licence non exclusive pour utiliser, reproduire, éditer et autoriser d'autres personnes à utiliser, reproduire et éditer n'importe lequel de vos commentaires sous toutes les formes, formats ou médias.</P>
    <h4>The establishment of hyperlinks to our content :</h4>
    <p>The following organizations may create links to our website without prior written authorization:</p>
    <ul>
      <li>Government agencies ;</li>
      <li>Search engines ;</li>
      <li>Press organizations;</li>
      <li>Online directory distributors can create links to our website in the same way that they create hyperlinks to the websites of other listed companies; and...</li>
      <li>System-wide accredited businesses, with the exception of not-for-profit soliciting organizations, charitable shopping malls and charitable fundraising groups, who may not hyperlink to our website.</li>
    </ul>
    <p>These organizations may create links to our home page, to publications or to other information on the website, so long as the link: (a) is not misleading in any way; (b) does not falsely imply sponsorship, approval or endorsement of the linking party and its products and/or services; and (c) is within the context of the linking party's website..</p>
    <p>We may consider and approve other link requests from the following types of organizations:</p>

    <ul>
      <li>information sources commonly known to consumers and/or companies;</li>
      <li>dot.com community sites;</li>
      <li>associations or other groups representing charitable organizations;</li>
      <li>online directory distributors ;</li>
      <li>Internet portals ;</li>
      <li>accounting, legal and consulting firms; and</li>
      <li>educational institutions and professional associations.</li>
    </ul>
    <p>We will approve link requests from these organizations if we decide that: (a) the link would not reflect unfavorably on us or our accredited businesses; (b) the organization does not have a negative record with us; (c) the benefit we derive from the hyperlink's visibility outweighs the absence of Ama's Beauty; and (d) the link fits within the context of general resource information.</p>
    <p>These organizations may link to our home page so long as the link: (a) is not misleading in any way; (b) does not falsely imply sponsorship, approval or endorsement of the linking party and its products or services; and (c) is within the context of the linking party's site..</p>
    <p>If you are one of the organizations listed in paragraph 2 above and would like to create a link to our website, you must notify us by sending an e-mail to Ama's Beauty. Please include your name, the name of your organization, your contact details and the URL of your site, a list of all the URLs from which you intend to link to our website, and a list of the URLs on our site to which you wish to link. Please allow 2 to 3 weeks for a reply.</p>
    <p>Approved organizations may establish a hyperlink to our website as follows:</p>
    <ul>
      <li>By using our corporate name; or</li>
      <li>By using the uniform resource locator to which the link is made; or</li>
      <li>By using any other description of our linked website that makes sense in the context and format of the content of the linking party's website.</li>
    </ul>
    <p>No use of the Ama's Beauty logo or other artwork will be permitted for linking purposes in the absence of a trademark license agreement.</p>
    <h4>Responsibility for content:</h4>
    <p>We will not be liable for any content that appears on your website. You agree to indemnify and defend us against all claims arising out of your web site. No link shall appear on any website which could be construed as defamatory, obscene or criminal, or which infringes, otherwise violates, or advocates infringement or other violation of the rights of any third party</p>
    <h4>Reservation of rights:</h4>
    <p>We reserve the right to request that you remove all or any links to our website. You agree to remove all links to our website immediately upon request. We also reserve the right to change these terms and conditions and its linking policy at any time. By continually linking to our website, you agree to be bound by and comply with these linking terms and conditions.</p>
    <h4>Removal of links from our website:</h4>
    <p>If you find a link on our website offensive for any reason, you are free to contact us and inform us at any time. We will consider requests to remove links, but we are under no obligation to do so or to respond to you directly.</p>
    <p>We do not guarantee the accuracy of the information on this website. We do not warrant its completeness or accuracy, nor do we promise that the website will remain available or that the material on the website will be kept up to date..</p>
    <h4>Disclaimer of liability:</h4>
    <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer shall affect your statutory rights.:</p>

    <ul>
      <li>limit or exclude our or your liability for death or personal injury;</li>
      <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
      <li>limit any of our or your responsibilities in any way that is not permitted by applicable law; or</li>
      <li>exclude any of our or your liabilities that cannot be excluded under applicable law.</li>
    </ul>

    <p>The limitations and prohibitions of liability set forth in this section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising from the disclaimer, including liabilities in contract, tort and for breach of statutory duty..</p>

    <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any kind.</p>
</div>

</div>




{% endblock %}      