{% extends 'base.html.twig' %}

{% block title %}Refund and Returns Policy{% endblock %}

{% block body %}

<div class="row">
<div class="col-10 mx-auto p-3">

  <h1 class="text-center">Refund and Returns Policy</h1>
  <p>Our operating hours are 9-5pm Monday to Friday France Time (excluding public holidays). Please consider this when placing your order.</p>
  <p>Please note that we are currently experiencing delays due to Covid-19. For international orders in particular, the limited number of international flights and the impact of the pandemic may cause delays beyond our control. We are, however, working hard to ensure fast and safe deliveries at all times. </p>
</div>
<h3>UK/IRELAND DELIVERY</h3>
<p>Standard Delivery – 2 to 7 Working Days     Free (orders over £150)</p>
<p>* Specified custom items such as Luxe Wigs and some shades of Luxe Ponytails can require a further 2-4 working days to process. This is specified in the product description to ensure customers are well informed prior to placing an order as all custom orders are non-refundable and non-exchangeable.</p>
<p>INTERNATIONAL DELIVERY</p>
<p>Standard International Delivery – 3 to 9 Working Days   €11.95</p>
<p>Please note customised orders may require a longer order processing time, causing slight delays with delivery. In such cases, we notify our customers prior to placing the order.</p>
<p>TRACKING YOUR ORDER</p>
<p>Once the order has been processed, the customer is provided with a shipment tracking code via email with which they can use to track their order.</p>
<h2>Exchanges, Returns & Refunds</h2>
<p>Bella Hair and its suppliers ensure strict quality checks are undertaken every time and operate under a continuous improvement model.</p>
<p>As part of the Consumer Protection (Distance Selling) Regulations Act 2000, certain goods by reason of their nature cannot be returned. Hair extensions & wigs fall into this category for hygiene reasons and therefore once opened or once the extensions have been taken out of their inner packaging, they will be exempt of refund or exchange.</p>
<p>Due to hygiene reasons, we do not accept returns once the order has been opened, used or taken out of its original inner packaging. For returns or exchanges, customers must inform us via email and return the order within 14  days of receiving it.</p>
<p>In the extremely rare case in which the wrong order is shipped or the order is damaged upon receipt, customers can opt for either returning the order for full refund or returning the order in exchange for the correct order. In both cases, customers must inform us via email and return the order within 14  days of receiving it. In this case, return costs will be reimbursed.</p>

<p>All our wigs and other customised pieces are made completely to your specifications and therefore are not eligible for refunds and or exchanges.</p>
<p>Orders can be altered no more that 5 hours after order completion. These alterations are limited to texture, density and colour and length. In order to make said alterations, you must notify us via email within the specified time period.</p>
<p>Please note, original delivery costs are non refundable.</p>

</div>
</div>


{% endblock %}   